*{
    box-sizing: border-box;
}

body{
    position: absolute;

}
.modal{
    position: relative;
    text-align: center;
    /* display: none; */
    border: solid ;

}
button.btn-rate{
    height: 25px;
    width:25px;
}
.txt-rate{
    display:inline-block;
    width:50px
}

.close-modal{
    position: absolute;
    right: 10px;
    top: 10px;
    /* padding: 5px; */
    border-radius: 30%;
    border-width: 1px;

}